<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>verify otp</title>
  </head>
  <body>
    <form action="/verify_otp/" method="POST">
      {% csrf_token %}
      <!-- <label for="phone_number">Phone number: </label>
      <input id="phone_number" type="text" name="phone_number" /> -->
      <label for="otp">otp: </label>
      <input id="otp" type="text" name="otp" />
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
